<div fxLayout>
  <app-title fxFlex="25%"></app-title>
  <app-header fxFlex="75%"></app-header>
</div>



<div fxLayout>
 
    <app-sidebar fxFlex="25%"></app-sidebar>
    <router-outlet ></router-outlet>
    <!-- <app-content ></app-content> -->
 </div>  

<app-footer fxLayout></app-footer>
 


<!-- <div>
  <form #searchForm class="form-inline md-form mr-auto mb-4">

    <input  class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"  (input)="onSearchChange($event)" >
    <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
  </form>



  <div>
    <div  *ngFor="let data  of todoData">
      <h3>{{data.name}}</h3>
    </div>
  </div>
</div> -->


<!-- <cdk-virtual-scroll-viewport itemSize="10" class="container">
  
  
  <div *cdkVirtualFor="let number of numbers"  class="number"> {{number}}</div>

  </cdk-virtual-scroll-viewport>

  <cdk-virtual-scroll-viewport itemSize="100" class="container">
  
  
    <div *cdkVirtualFor="let number of numbers"  class="number"> {{number}}</div>
  
    </cdk-virtual-scroll-viewport> -->
  
  