:host {
  background: hsl(60, 7%, 86%);
  padding: 30px;
  height: 100vh;
  width: stretch;
  background-size: auto;
}
.example-card {
  max-width: 300px;
  max-height: 300px;
  /* margin-bottom: 310px; */
  /* box-sizing: */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
}

.flex-container > div {
  /* background-color: #f1f1f1; */
  width: 100px;
  margin: 30px;
  text-align: center;
  /* line-height: 75px;
  font-size: 30px; */
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.example-card mat-card-content {
  flex: 1 0 auto;
}

.card-header {
  height: 60px;
}
