<!-- <app-header fxLayout></app-header>


<div fxLayout>
 
    <app-sidebar fxFlex="20%"  ></app-sidebar>
    <app-content fxFlex="80%"></app-content>
</div>

<app-footer fxLayout></app-footer> -->
<!-- <div>
    <app-mainlayout ></app-mainlayout>
</div> -->

<app-mainlayout ></app-mainlayout>
<!-- <app-header flexLayout="column"></app-header>

<div flexLayout="row" fxFlex >
<div fxFlex="20">
    <app-sidebar fxFlex></app-sidebar>
</div>
<div fxFlex="80" class="content">
    <router-outlet></router-outlet>
</div>
</div>

<app-footer flexLayout="column"></app-footer>
 -->

