:host {
  background: hsl(71, 35%, 91%);
  padding: 10px;
  /* height: 70px; */
  flex-shrink: 0;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.mat-raised-button {
  float: right;
  margin: 0 20px;
}
