:host {
  /* background: hsl(60, 7%, 86%); */
  padding: 30px;
  height: stretch;
  width: stretch;
  background-size: auto;
}

.form-group {
  /* max-width: 1000px; */
  font-size: 25px;
  width: 500px;
}

.task-form {
  background: hsl(60, 7%, 86%);
  margin: 30px;
  padding: 30px;
}

/* .task-form-data {
    padding: 30px;
  } */

.task-name {
  /* width: "700px";
    height: "100px"; */
  font-size: medium;
  padding: 10px;
}

.task-content {
  width: "400px";
  height: "200px";
  font-size: medium;
  padding: 10px;
}

button {
  padding-right: 20px;
  margin-right: 20px;
}
